/*Basic CSS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
h1,h2,h3,h4,h5,h6,a{
  font-family: 'Rubik', sans-serif;
}
body,p,span{
  font-family: 'Roboto', sans-serif;
}
    .alignleft{
      float: left;
      margin-right: 15px;
    }
    .alignright{
      float: right;
      margin-left: 15px;
    }
    .aligncenter{
      display: block;
      margin:0 auto 15px;
    }
    a:focus{
      outline: 0 solid
    }
    /*input:focus, button:focus {
    outline: 0 solid
    }*/
    img{
      max-width: 100%;
      height: auto;
    }
    h1,h2,h3,h4,h5,h6{
      margin: 0 0 15px;
      font-weight: 700;
    }
     
    a:hover{
      text-decoration:none;
    }
 /* end of Basic CSS*/

 ul.our-primary-menu li a {
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	color: #111;
	font-weight: 600;
  transition: all .3s ease-in-out;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}
/* ul.our-primary-menu li a:hover {
	color: #e73a3e;
} */
ul.our-primary-menu li a::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px;
  background-color:#b8bb9d;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  height: 2px;
}
ul.our-primary-menu li a:hover::before,
ul.our-primary-menu li a:focus::before{
transform: scaleX(.7);
}

.navbar-brand {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-brand strong {
  color: red;
  font-size: 22px;
  border-radius: 50%;
}
 .section-banner{
   background-image: url(../img/hero_1.jpg);
   background-size: cover;
   background-position: center;
   height: 700px;
   background-repeat: no-repeat;
   width: 100%;
  
 }
 .banner-wrap {
  display: flex;
  height: 90vh;
  align-items: center;
  
 }
 
 
.banner-content h2 {
  font-weight: 700;
  font-size: 50px;
  color: #23ACCE;
}
 
.boxed-btn{
  background: #b8bb9d;
  border: #b8bb9d;
   padding: 10px 30px;
  font-size: 16px;
}
.boxed-btn:hover{
  background-color:#b8bb9d  !important;
}
body .btn-primary{
  background-color: #e73a3e !important;
  border: #b8bb9d;
  padding: 10px 30px;
  font-size: 16px;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}
 body .btn-primary::after{
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 0%;
 height: 100%;
 background: #b8bb9d;
 border-color: #b8bb9d;
 z-index: -1;
 transition: .3s;
 border-radius: 5px;
}
body .btn-primary:hover{
  border-color:#b8bb9d;
}
body .btn-primary:hover::after{
  width: 100%;
}
.graybg{
  background-color: #f8f9fa;
}

/* Properties area start */

.pro-title{
  margin-bottom: 40px;
  font-size: 42px;
}
.pro-content h4{
  margin-top: 20px;
  color:#b1b493
}
.pro-content img{
  width: 490px;
  height: 300px;
}
.pro-content{
  padding-bottom: 18px;
}
/* Properties area end */
 

.search-property {
  padding: 80px 0px;
  background: antiquewhite;
}
.area-title.text-center h2 {
  font-size: 42px;
  margin-bottom: 23px;
}
.col-md-12.text-center.inputs input {
  padding: 11px 29px;
  margin-bottom: 27px;
}

/* Contact Section */
.contact-section{
  background-color: #f8f9fa;
}
.icon i.fa {
  font-size: 20px;
  background: #b1b493;
  padding: 15px;
  border: ;
  border-radius: 50%;
  color: #fff;
  margin-right: 20px;
}
.contact-address.d-flex {
  margin-bottom: 10px;
}
.contact-content p {
  color: #b1b493;
  font-size: 16px;
}
.contact-content h5 {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 7px;
}


.Main-form input {
  padding: 14px 35px;
  margin-bottom: 12px;
}
textarea {
  padding: 10px;
  width: 100%;
  margin-top: 1px;
  height: 153px;
}


.footer-wrap {
  background: #232931;
  color: #fff;
}
.footer-links ul, .footer-service ul {
  list-style: none;
  padding-left: 0;
  padding-right: ;
  padding-left: ;
}
.footer-links ul li a, .footer-service ul li a {
  color: #fff;
  transition: .3s ease-in-out;
}
.footer-service ul li a {
  /*! color: #fff; */
}
li {
}
.footer-links ul li  i.fa, .footer-service ul li  i.fa {
  margin-right: 5px;
}
.footer-links ul li a:hover, .footer-service ul li a:hover {
  letter-spacing: 2px;
}